<ul class="hero-list">
    <% if @heroes.length == 0 %>
        <h3 class="not-found">No heroes found</h3>
    <% else %>
        <% @heroes.each do |hero| %>
            <li>
                <a href=<%= hero_show_path(hero.id) %>>
                    <div class="hero-card">
                        <img class="hero-image" src=<%= hero.image_path + "/portrait_uncanny." + hero.image_extension %>>
                        <p class="hero-name"><%= hero.name %></p>
                    </div>
                </a>
            </li>
        <% end %>
    <% end %>
</ul>